<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>

<!--
    zamani ke test E feature run mishe, laravel site E maro boot/ejra mikone
    ke in ejra kardan - boot kardan E site niaz be ye seri config dare ke az file E
    env mikhone.

    ba estefade az tag haie <server>, dg niazi nist dast be maghadire file E env bezanim
    va az hamin maghadir use mishe vase boot kardan E sitemon va ejra shodane test haie feature
    (un config haii ke mad E nazaremon hastesh vase test ha use mishe)

    Ex: taghire database vase ejraie test ha roye data haie ye database E dg na data haie aslie proje

================================

    <env name="DB_DATABASE" value=""/>

    to meghdare value, esme ye databsae dg ro bezar ta test ha ro un ejra beshan.

-->
